<!DOCTYPE html>
<html>
    <head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/main.css">
	<link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    </head>
    <body>
	<nav>
	    <h1 class="title">Kris Sankaran</h1>
	    <ul>
	        <li><a href="{{site.baseurl}}">Home</a></li>
		<li><a href="{{site.baseurl}}/projects.html">Projects</a></li>
	        <li><a href="{{site.baseurl}}/links.html">Links</a></li>
	    </ul>
	</nav>
	<hr>
	<div class="container">
	    {{ content }}
	</div>
	<footer>
	    <ul>
	        <li><a href="mailto:krissankaran@stanford.edu">email</a></li>
	    </ul>
	</footer>
    </body>
</html>
